.product-wrap .product-img img {
  width: 100%;
}
.product-wrap .product-img a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 40px;
}
  .main-wrapper.overlay-active .body-overlay {
  opacity: 1;
  visibility: visible;
  display: none;
}
.owl-nav {
  display: none !important;
}
#demo .col-xs-4.col-sm-4.col-md-4 {
  display: inline-block;
  margin-left: -4px;
}
#demo1 .col-xs-4.col-sm-4.col-md-4 {
  display: inline-block;
  margin-left: -4px;
}
.btn.common_bt.mt-20 {
  margin-top: 15px;
}
.product {
  text-align: center;
  box-shadow: 0px 0px 6px 3px #ededed;
  margin-top: 30px;
  padding-top: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.product span {
  display: block;
  font-size: 25px;
  margin-top: 30px;
  line-height: 30px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#demo .carousel-control-next, #demo .carousel-control-prev {
  width: 10%;
  opacity: 1;

} 
#demo1 .carousel-control-next, #demo .carousel-control-prev {
  width: 10%;
  opacity: 1;

} 
.product.c1::before,.product.c2::before,.product.c3::before {
  background: #FFEC95;
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0px;
  top: 0px;
  z-index: -1;
} 
.nabs.text-center {
  margin-top: 20px;
}
.nabs.text-center li a {
  color: #D97F1A;
  font-size: 18px;
}
.section-title-5.cst h2 {
  font-weight: bold;
  font-size: 36px;
  color: #1b1b1b;
  margin: 2px 0 0px;
  padding: 0 0 0px;
  position: relative;
}
.nabs.text-center li {
  display: inline-block;
  padding-right: 20px;
  border-right: 2px solid #d97f1a;
  padding-left: 20px;
}
.nabs.text-center li:last-child {
  border: none;
}
.btn.common_bt {
  text-align: center;
  box-shadow: 0px 0px 6px 3px #ededed;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  background: #d97f1a;
  color: #fff;
  margin-top: 50px;
}
.product.c2::before{background: #FFB1B1;} 
.product.c3::before{background: #F1C3FF;} 

.wraps .section-title-2 h2::before {
position: absolute;
left: 0;
right: 0;
bottom: 0;
margin: 0;
content: "";
height: 2px;
width: 100px;
background-color: #ff6e21;
}
.wraps h2 {
  font-size: 21px;
}
.wraps {
  padding: 10px 30px;
  box-shadow: 0px 0px 6px 3px #ededed;
  margin-top: 0px;
  padding-top: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.wraps .bg-black-hover1 {
  color: #ff6e21 !important;
}
.wraps.main-wrappers .wraps {
  box-shadow: none;
}
.wraps.main-wrappers {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.copyright p {
  font-size: 16px;
  color: #494949;
  letter-spacing: 0;
}
.footer-widget h3.footer-title-3 {
  font-size: 18px;
  color: #000;
  margin: 0 0 32px;
  line-height: 1;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}
.footer-widget .footer-info-list-2 ul li a {
  font-size: 14px;
  color: #000;
}
.footer-widget .footera-about p {
  margin: 0;
  color: #000;
  width: 75%;
}
.footer-widget .footer-contact-wrap .single-footer-contact .footer-contact-text p {
  color: #000;
  margin: 0;
}
.footer-widget .footer-contact-wrap .single-footer-contact .footer-contact-icon i {
  color: #000;
  font-size: 25px;
}
.product-dec-small-style2 .product-dec-small {
  margin: 0 5px 0px 5px;
  cursor: pointer;
  display: inline-block;
  max-width: 18%;
}
.easyzoom-style .easyzoom > a img {
  width: 50%;
  transition: none;
}
.easyzoom-style .easyzoom {
  display: block;
  text-align: center;
}
.product-details-content h2 {
  font-size: 24px;
  margin: 0 0 20px;
  color: #ef7f1a;
  margin-top: 50px;
}
.product-details-wrap.pro-dec-res-mrg-top2 .product-details-content h6 {
  margin-bottom: 25px;
  list-style: disc;
  line-height: 24px;
  font-size: 18px;
  color: #000;
}
.product-details-peragraph ul li {
  margin-bottom: 25px;
  list-style: disc;
  line-height: 24px;
  font-size: 18px;
  color: #000;
  margin-left: 20px;
}
.product-details-content .pro-dec-info-wrap .pro-dec-ratting-wrap .pro-dec-ratting i,.product-details-content .pro-dec-info-wrap .pro-dec-ratting-wrap a {
  color: #d5d6d8;
  font-size: 20px;
  margin-left: 5px;
}
.product-details-content .pro-dec-info-wrap .pro-dec-ratting-wrap .pro-dec-ratting i.yellow {
  color: #ef7f1a;
}
.product-details-content .product-details-action-wrap .product-details-cart a:hover {
    background-color: #ff6e21;
}
.product-details-content .product-details-action-wrap .product-details-cart a {
    display: inline-block;
    font-size: 39px;
    color: #fff;
    padding: 15px 25px;
    background-color: #ef7f1a;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 2px;
}
.product-details-content .product-details-action-wrap p {
  margin-left: 15px;
  margin-top: 15px;
}
.footer-menu_menu ul li a {
    color: #fff;
    font-size: 20px !important;
}
.footer-menu_menu_tab ul li a {
  color: #000;
  font-size: 20px !important;
}
.product-dec-small-style2 .product-dec-small {
  margin: 0px;
  cursor: pointer;
  display: inline-block;
  max-width: 20%;
  padding: 5px;
}
img {
  max-width: 100%;
}
.footer-menu_menu ul li a {
  color: #fff;
  font-size: 16px !important;
}
.footer-menu_menu_tab ul li a {
  color: #000;
  font-size: 16px !important;
}
.product-details-content h2 {
  font-weight: 6000;
}
@media (max-width:1180px){
.product-details-content .product-details-action-wrap .product-details-cart a {
  font-size: 30px;
}
.product-detail {
  background: none;
}
.container, .container-md, .container-sm {
  max-width: 100%;
}
}
@media (max-width:767px){

.product-details-content .product-details-action-wrap .product-details-cart a {
  font-size: 22px;
}
.single-main-slider.bg-img.slider-height-3.align-items-center.custom-d-flex .col-md-8 {
  padding-left: 15px !important;
}
.single-main-slider.bg-img.slider-height-3.align-items-center.custom-d-flex .col-md-4 {
  padding-left: 15px !important;
  text-align: center !important;
}
}
